@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '../magickwebui';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

/* kill the ugly border */
.drag-handle:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* optional: suppress dragging preview */
.dnd-ghost {
  opacity: 0.5;
  border: 2px dashed #999;
  background: #fafafa;
}



